{% extends 'base.html' %}

{% block title %} 
    Patient Portal
{% endblock %}



{% block body %}

    <div class="jumbotron p-3">
        <div class="well text-center">
            <h1>Patient Self Service Portal (PssP - Admin) </h1>
        </div>
    </div>

    <style>
        body{
            background-image: url('https://static.vecteezy.com/system/resources/previews/006/304/680/non_2x/white-and-gray-square-pattern-background-with-stripe-line-geometric-shape-abstract-banner-design-modern-and-minimal-pixel-style-you-can-use-for-cover-template-poster-flyer-print-ad-eps10-vector.jpg');
            background-size: 150%;
    </style>

{% endblock %}